.u-section-1 {
    background-image: url("images/70e36358e5d2e5172cd596cef82de7b83831f47459a934f52d145d77c9241603e7b26dac2bf3f13c9d6de25276677a962402d70a0cbeea4d2eb8c6_1280.jpg");
    background-position: 50% 50%;
    background-size: auto 120%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 1901px;
  }
  
  .u-section-1 .u-group-1 {
    min-height: 1804px;
    width: 1151px;
    box-shadow: 5px 5px 37px 0 rgba(0,0,0,0.15);
    height: auto;
    margin: 17px -11px 60px auto;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 0;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    letter-spacing: normal;
    font-style: normal;
    font-family: "Abril Fatface";
    text-transform: none;
    font-weight: 300;
    margin: 71px auto 0 37px;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    line-height: 32px;
    font-style: normal;
    margin: 20px 551px 0 37px;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-btn-2 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-btn-3 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-btn-4 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-btn-5 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-btn-6 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-btn-7 {
    background-image: none;
    padding: 0;
  }
  
  .u-section-1 .u-image-1 {
    width: 480px;
    height: 272px;
    margin: -218px 15px 0 auto;
  }
  
  .u-section-1 .u-image-2 {
    width: 198px;
    height: 342px;
    margin: -685px 156px 0 auto;
  }
  
  .u-section-1 .u-btn-8 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 3px;
    background-image: none;
    border-style: none;
    align-self: center;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin: 445px auto 0 37px;
    padding: 34px 30px;
  }
  
  .u-section-1 .u-video-1 {
    width: 857px;
    height: 491px;
    margin: 102px auto 0 45px;
  }
  
  .u-section-1 .embed-responsive-1 {
    position: absolute;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1567px;
    }
  
    .u-section-1 .u-group-1 {
      width: 940px;
      margin-right: 0;
      height: auto;
    }
  
    .u-section-1 .u-text-2 {
      margin-left: 0;
      margin-right: 377px;
    }
  
    .u-section-1 .u-image-1 {
      margin-top: 20px;
    }
  
    .u-section-1 .u-btn-8 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1200px;
    }
  
    .u-section-1 .u-group-1 {
      width: 720px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 157px;
    }
  
    .u-section-1 .u-video-1 {
      width: 720px;
      height: 413px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 900px;
    }
  
    .u-section-1 .u-group-1 {
      width: 540px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3rem;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 0;
    }
  
    .u-section-1 .u-image-1 {
      margin-top: -218px;
    }
  
    .u-section-1 .u-video-1 {
      width: 540px;
      height: 310px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-1 {
      background-position: 85.08% 57.15%;
      background-size: auto 105%;
    }
  
    .u-section-1 .u-sheet-1 {
      min-height: 567px;
    }
  
    .u-section-1 .u-group-1 {
      width: 340px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .u-section-1 .u-image-1 {
      width: 340px;
      height: 193px;
      margin-top: -106px;
      margin-right: 0;
    }
  
    .u-section-1 .u-image-2 {
      margin-top: 68px;
      margin-right: 142px;
    }
  
    .u-section-1 .u-btn-8 {
      margin-top: 574px;
    }
  
    .u-section-1 .u-video-1 {
      width: 340px;
      height: 195px;
    }
  }